* {
    margin: 0;
    font-family: 'Work Sans';
}

header,
main {
    width: 1920px;
    height: 1403px;

}


/* Header Container */
.header-container {
    background: rgba(255, 144, 14, 0.1);
}

/* Common */
.title {
    font-weight: 500;
    font-size: 45px;
    margin-bottom: 24px;
}

.description {
    width: 542px;
    height: 52px;
    font-weight: 400;
    font-size: 16px;
    color: #727272;
    margin-left: 690px;
    margin-bottom: 40px;
    text-align: center;

}

.description2 {
    width: 537px;
    height: 78px;
    font-weight: 400;
    font-size: 16px;
    color: #727272;
    margin-bottom: 32px;
    text-align: justify;

}

.btn-primary {
    height: 64px;
    background: hsl(25, 94%, 59%);
    border-radius: 5px;
    color: #FFFFFF;
    font-weight: 600;
    font-size: 20px;
    border: 0;
    padding: 18px 35px;
    margin-bottom: 50px;
}

/* Nav Bar */
nav {
    display: flex;
    justify-content: space-between;
    margin: 50px 200px;
}

.nav-title {
    font-weight: 700;
    font-size: 45px;
}

nav ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin-left: 50px;
}

/* Header Info */
.header-container {
    display: grid;
}

.header-all {
    text-align: center;
}

.header-banner {
    margin-bottom: 45px;
}


/* Features Styles */
.features {
    margin-top: 85px;
    display: flex;
    align-items: center;
    margin-left: 300px;
    margin-bottom: 130px;
}

.feature-img {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
}

.feature-details {
    margin-left: 76px;
}

.first {
    color: #727272;
}

.middle {
    color: #131313;
}

.last {
    color: #FF900E;
}

/* Second Fetures */
.features-2 {
    display: flex;
    gap: 54px;
    margin-bottom: 130px;
}

.feature1 {
    background: #FFFFFF;
    box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}

.btn-secondary {
    height: 64px;
    background: hsl(25, 94%, 59%);
    border-radius: 8px;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 40px;
    width: 258px;
    height: 109px;
    border: 0;
}

/* Facts Styles */
.facts-details {
    margin-left: 100px;
    margin-bottom: 130px;
}

.title-fact {
    margin-left: 240px;
    font-weight: 500;
    font-size: 45px;
    margin-bottom: 24px;
}

.description-fact {
    width: 537px;
    height: 78px;
    font-weight: 400;
    font-size: 16px;
    color: #727272;
    margin-bottom: 32px;
    margin-left: 240px;

}

.fact-container {
    display: flex;
    gap: 50px;
    justify-content: center;
}

.achivement {
    width: 241.83px;
    height: 241.83px;
    border: 1px solid #FF900E;
    border-radius: 8px;
    padding-left: 60px;
}

.numbers {
    font-size: 45px;
    color: #424242;
}

/* Sponsor Style */
.sponsor-company {
    display: flex;
    gap: 155px;
    margin-left: 240px;
}

.title-sponsor {
    font-weight: 500;
    font-size: 45px;
    margin-bottom: 24px;
    text-align: center;
}

.sponsor-name {
    filter: grayscale(100%);
    display: flex;
    margin-bottom: 130px;
}

/* footer style */
.footer {
    margin-bottom: 216px;
}

.copyright {
    width: 1440px;
    height: 100px;
    background: #FFF4E7;
    border-radius: 8px;
    margin-left: 240px;

}

.cpy {
    font-size: 20px;
    text-align: center;
    color: #424242;
    padding: 50px;
}

/* Mobile Responsive */
/* Media Queries (Mobile) */
@media only screen and (max-width:688px) {
    .header{
        width: 100%;
    }
    .nav-title, {
        grid-template-columns: repeat(1, 1fr);
    }
    /* .player, .blog{
        flex-direction: column;
        align-items: center;
    } */
}